{% extends 'base.html' %}


{% block title %}Home{% endblock %}

{% block content %}
    <form class="ui large form" method="post" action={% url 'users:register' %}>
    {% csrf_token %}
      <div style="width:800px; margin:0 auto;">
        <h4 class="mb-3">Wypełnij poniższy formularz</h4>
        <form class="needs-validation" novalidate="">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Tytuł</label>
              <input type="text" class="form-control" id="firstName" name="first_name" placeholder="" value="{{ data.first_name }}" required="">
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Krótki opis</label>
              <input type="text" class="form-control" id="lastName" name="last_name" placeholder="" value="{{ data.last_name }}" required="">
            </div>

             <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Opis</label>
              <input type="password" class="form-control" id="password1" name="password1" placeholder="" value="" required="">
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Cena</label>
              <input type="password" class="form-control" id="password2" name="password2" placeholder="" value="" required="">
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Możliwość negocjacji<span class="text-muted"></span></label>
              <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" value="{{ data.email }}">
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Zdjęcie tytułowe</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="Lodowa 9/10" required=""  value="{{ data.address }}">
            </div>

            <div class="col-md-5">
              <label for="city" class="form-label">Kategoria</label>
              <input type="text" class="form-control" id="city" name="city" placeholder="Poznań" required="" value="{{ data.city }}">
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Producent</label>
              <input type="text" class="form-control" id="zip" name="zip_code" placeholder="62-601" required="" value="{{ data.zip_code }}">
            </div>

             <div class="col-md-3">
              <label for="zip" class="form-label">Kolor</label>
              <input type="text" class="form-control" id="zip" name="zip_code" placeholder="62-601" required="" value="{{ data.zip_code }}">
            </div>

             <div class="col-md-3">
              <label for="zip" class="form-label">Waga</label>
              <input type="text" class="form-control" id="zip" name="zip_code" placeholder="62-601" required="" value="{{ data.zip_code }}">
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Stan</label>
              <input type="text" class="form-control" id="zip" name="zip_code" placeholder="62-601" required="" value="{{ data.zip_code }}">
            </div>
          </div>
            <br>
    <button class="btn btn-primary btn-lg px-4 gap-3">Zarejestruj się</button>
          </div>
    </form>
    <br>
    <a href={% url 'users:login' %}>Masz już konto? Zaloguj się tutaj</a>
{% endblock %}
