{% extends 'base.html' %}
    {% load crispy_forms_tags %}
    {% block title %}Dodaj ofertę{% endblock %}
    {% block content %}
    {% if formset %}
        <div class="row">
            <h2>Dodaje zdjęcie do galerii {{ gallery.title }}</h2>
        <div>
        </div>
        <div class="col-6 offset-md-3">
        <form id="form-container" method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="photo-form">
                    {{ form|crispy }}
                    <br>
                </div>
            {% endfor %}
            <hr>
            <button id="add-form" type="button" class="btn btn-primary">Dodaj jeszcze jedną</button>
            <hr>
            <br>
            <input type="submit" name="submit" value="Prześlij" class="btn btn-primary"/>
        </form>
        </div>
        </div>
    {% endif %}
    {% block additional_script %}
    <script>
         let form = document.querySelectorAll(".photo-form")
         let container = document.querySelector("#form-container")
         let addButton = document.querySelector("#add-form")
         let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
         let formNum = form.length - 1
         addButton.addEventListener('click', addForm)
         function addForm(e) {
         e.preventDefault()
         let newForm = form[0].cloneNode(true)
         let formRegex = RegExp(`form-(\\d){1}-`, 'g')
         formNum++
         newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
         container.insertBefore(newForm, addButton)
         totalForms.setAttribute('value', `${formNum + 1}`)
         }
    </script>
    {% endblock %}
{% endblock %}