{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <form class="ui large form" method="post" action={% url 'users:change_password' %}>
        {% csrf_token %}
        <div style="width:800px; margin:0 auto;">
            <h4 class="mb-3">Wpisz obecne hasło</h4>
            <form class="needs-validation" novalidate="">
                <div class="col-12">
                    <label for="old_password" class="form-label">Obecne hasło<span class="text-muted"></span></label>
                    <input type="password" class="form-control" id="old_password" name="old_password" placeholder="" required="">
                </div>

                <div class="col-12">
                    <label for="new_password1" class="form-label">Nowe hasło</label>
                    <input type="password" class="form-control" id="new_password1" name="new_password1" placeholder="" required="">
                </div>

                <div class="col-12">
                    <label for="new_password2" class="form-label">Powtórz nowe hasło</label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2" placeholder="" required="">
                </div>
                <br>
                <button class="btn btn-primary btn-lg px-4 gap-3">Zmień hasło</button>
            </form>
        </div>
    </form>


{% endblock %}