{% extends 'base.html' %}

{% block title %}Ustaw nowe hasło{% endblock %}

{% block content %}
    <form class="ui large form" method="post" action={% url 'users:reset_password_send_code' %}>
    {% csrf_token %}
      <div style="width:800px; margin:0 auto;">
        <h4 class="mb-3">Podaj maila na którego zostało zarejestrowane konto</h4>
        <form class="needs-validation" novalidate="">
            <div class="col-12">
              <label for="email" class="form-label">Email<span class="text-muted"></span></label>
              <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
            </div>
    <br>
    <button class="btn btn-primary btn-lg px-4 gap-3">Wyślij kod</button>
    </form>
      </div>
{% endblock %}