{% extends 'base.html' %}

{% block title %}Ustaw nowe hasło{% endblock %}

{% block content %}
    <form class="ui large form" method="post" action={% url 'users:reset_password' %}>
    {% csrf_token %}
      <div style="width:800px; margin:0 auto;">
         <div class="col-12">
              <label for="address" class="form-label">Podaj kod wysłany na maila</label>
              <input type="password" class="form-control" id="address" name="reset_code" placeholder="" required="">
         </div>

         <div class="col-12">
              <label for="address" class="form-label">Nowe hasło</label>
              <input type="password" class="form-control" id="address" name="password1" placeholder="" required="">
         </div>

         <div class="col-12">
              <label for="address" class="form-label">Powtórz hasło</label>
              <input type="password" class="form-control" id="address" name="password2" placeholder="" required="">
         </div>

    <br>
    <button class="btn btn-primary btn-lg px-4 gap-3">Ustaw hasło</button>
    </form>
{% endblock %}