{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
            {% endif %}
        {% endfor %}
    {% endif %}<br>

    hfdhfdjhfjd<br>
    dsdsdsdsds<br>
{% endblock %}